<table class="table table-striped table hover">
  <thead>
    <tr>
      <th> ID </th>
      <th> Serientitel </th>
      <th> &nbsp; </th>
      <th> &nbsp; </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let s of shows">
      <td>
        {{s.id}}
      </td>
      </tr>
      <tr>
        <td>  
        {{s.titel}}
      </td>
      </tr>
      <td>
        <span class="material-icons">
          edit
          </span>
      </td>
      <td>
        <span class="material-icons">
          delete
          </span>
      </td>
      <tr>
    </tr>
  </tbody>

</table>

